/* Add a background color to the header element */
header {
   background-color: cornflowerblue;
   color: white;
}
/* Add a fun background color to the main element */
main {
    background-color: lavender;
    color: black

}
/* Align the h1 containing your name in the center of the header*/
h1 {
    text-align: center;
}
/* Make your p tag a different color and italic */
p {
    font-style: italic;
    color: white;

}
/* Put a border around your image */
img {
    border: 3px orange;
    border-radius: 10px;
    border-style: dotted;
    padding: 15px;

}
/* Change the font-family of your list */

ul {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
/* Add a background color to the footer element */
footer {
    background-color: cornflowerblue;
    
}